@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@font-face {
    font-family: DiscordFont;
    src: url(FontStorage/gg-sans-Regular.ttf);
}

@font-face {
    font-family: DiscordFontBold;
    src: url(FontStorage/gg\ sans\ Bold.ttf);
}


body{
    background-color: rgb(87, 108, 187);
    font-family: DiscordFont;
    
}



button, input{
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    background-color: rgba(88,101,242,255);
    color: white;
    border-style: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

input::placeholder{
    color: lightgray;
}

#disabaled{
    background-color: rgba(66,74,146,255);
}

button:hover{
    background-color: rgba(74,72,187,255);
}

#Bold{
    font-family: DiscordFontBold;
}

#TemplatePar{
    line-height: 30px;
}

a:link{
    color: rgba(20,168,252,255);
    text-decoration: none;
}

#HostUser, #CoHostUserA, #CoHostUserB, #SupUser, #CPHostA, #CHP, #CHPA{
    background-color: rgba(88,101,242,.5);
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    transition: background-color .3s;
}

#CHP{
    background-color: rgba(61,89,105,.5);
    color: rgba(53,152,217,255);
}
#CHPA{
    background-color: rgba(74,48,41,.5);
    color: rgba(83,23,21,255);
}

#CoHostUserA:hover, #CoHostUserB:hover, #SupUser:hover{
    background-color: rgba(88,101,242,255);
}
.hosttext, .Cohosttext1, .Cohosttext2, .supbut, #CPHostA{
    display: none;
}


.title{
    font-size: xx-large;
    padding: 15px;
    color: white;
    background-color: rgb(66,69,73);
    width: 40%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 5px rgba(25, 25, 25, 0.1);
}

.inner-website{
    display: flex;
    justify-content: center;
    
}

.preview-holder, .space{
    font-family: DiscordFont;
    color: white;
    width: 30%;
    margin-left: 70px;
    margin-right: 70px;
}

#TemplatePar{display: none;}
#CopyButton{display: none;}
#NoPre{display: none;} 

.preview-holder, .Copypastareview{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66,69,73);
    box-shadow: 4px 5px rgba(25, 25, 25, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.Copypastareview{
    float: right;
    width: 100%;
}


.phaseone {
    background-color: rgba(43,45,49,255);
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 4px 5px rgba(25, 25, 25, 0.1);
}

.phasetwo, .phasethree, .phasefour, .phasefive, .SupervisorPhase, .Notes{
    width: 80%;
    background-color: rgba(43,45,49,255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 4px 5px rgba(25, 25, 25, 0.1);
    display: none;
}



dialog > div{
    background-color: rgba(43,45,49,255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

dialog{
    background-color:rgb(66,69,73);
    border-style: none;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    color: white;
    text-align: center;
    box-shadow: 4px 5px rgba(25, 25, 25, 0.1);
}

dialog::-webkit-scrollbar{
    width: 0px;
}

dialog > div > div{
    margin-bottom: 10px;
}

dialog > div > button{
    margin-bottom: 10px;
}